@import url(https://fonts.googleapis.com/css?family=Amiri:400,700,400italic,700italic&subset=arabic,latin);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
//
///**
// * Reset some basic elements
// */
//body, h1, h2, h3, h4, h5, h6,
//p, blockquote, pre, hr,
//dl, dd, ol, ul, figure {
//    margin: 0;
//    padding: 0;
//}
//
//
//

/**
 * Basic styling
 */
body {
    direction: rtl;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-image: url("/images/greyzz.png");
    -webkit-text-size-adjust: 100%;
    width: 100%;
    margin: 0
}

/**
  * links
  */
a:link {
  text-decoration: none;
  color: $tawnyport;
}
a:visited {
  color: $tawnyport;
}
a:hover {
    color: $thunder;
}

///**
// * Set `margin-bottom` to maintain vertical rhythm
// */
//h1, h2, h3, h4, h5, h6,
//p, blockquote, pre,
//ul, ol, dl, figure,
//%vertical-rhythm {
//    margin-bottom: $spacing-unit / 2;
//}
//
//
//

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: $droid;
    color: $tawnyport;
    font-size: 100%;
    @include s_larger-than-tablet {
      -webkit-margin-before: 0;
      -webkit-margin-after: 1em;
    }
}
@include s_larger-than-tablet {
  h1 {
    font-size: 1.63em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.17em;
  }
  h4 {
    font-size: 1.325em;
  }
  h5 {
    font-size: 0.83em;
  }
  h6 {
    font-size: 0.67em;
  }
}

/**
  * Paragraph
  */
p {
  text-align: justify;
  -webkit-margin-before: 0;
  -webkit-margin-after: 1em;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}


/**
 * Wrapper
 */
//.wrapper {
//    max-width: -webkit-calc(#{$content-width} - ( #{$spacing-unit} * 2));
//    max-width:         calc(#{$content-width} - ( #{$spacing-unit} * 2));
//    margin-right: auto;
//    margin-left: auto;
//    padding-right: $wrapper-unit-mobile;
//    padding-left: $wrapper-unit-mobile;
//    @include s_larger-than-tablet {
//      padding-right: $wrapper-unit;
//      padding-left: $wrapper-unit;
//      max-height: 86vh;
//      overflow: hidden;
//    }
//}

/**
  * Row
  */
.row {
  padding-bottom: 5vh;
  text-align: center;
}
