<article class="wrapper post outer">
  <div class="post-content inner">

    {% if post.name != null %}
      {% if post.image != null %}
      <div class="title">
        <h1>
          {{post.name}}
        </h1>
      </div>
      <figure class="photo-container">
        <img data-src="/images/{{post.image}}" alt="{{post.image-caption}}">
        <figcaption>
          {{post.image-caption}}
        </figcaption>
      </figure>
      <div class="text-block">
        {{ post.content }}
      </div>

      {% else %}
      <div class="title floating-title">
        <h1>
          {{post.name}}
        </h1>
      </div>
      <div class="photo-two">
        <div class="image-photo-two">
          <div class="photo-two-inside">
            {{ post.content }}
          </div>
        </div>
      </div>
      {% endif %}
    {% else %}
      <span> </span>
      {% if post.image != null %}

      <figure class="photo-container">
        <img data-src="/images/{{post.image}}" alt="{{post.image-caption}}">
        <figcaption>
          {{post.image-caption}}
        </figcaption>
      </figure>
      <div class="text-block">
        {{ post.content }}
      </div>

      {% else %}
      <div class="photo-two">
        <div class="image-photo-two">
          <div class="photo-two-inside">
            {{ post.content }}
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}
  </div>
</article>
