<article class="wrapper index">
    <div class="title">
      <h1>
        {{post.name}}
      </h1>
    </div>

    <div class="row">

      <div class="col index-content" id="container">
          <ul>
            <li><a href="#003"> المقدمة </a></li>
            <li><a href="#008"> الفصل الأول - المولد والنشأة </a></li>
            <li><a href="#009"> مسقط الرأس </a></li>
            <li><a href="#010"> الميلاد </a></li>
            <li><a href="#011"> في رحابِ القرية </a></li>
            <li><a href="#013"> إشراقاتٌ قَرَويةٌ </a></li>
            <li><a href="#014"> قبسٌ من ضياء </a></li>
            <li><a href="#016"> في كَنَفِ الأُسرَة </a></li>
            <li><a href="#017"> رحيلٌ مبكِّر </a></li>
            <li><a href="#018"> الجدَّةُ الرَّؤوم </a></li>
          </ul>
      </div>
      <div class="col index-content"> </div>
      <div class="col index-content"> </div>
      <div class="col index-content"> </div>
    </div>
</article>
