<article class="wrapper index">
    <div class="title index-page-title">
      <h1>
        {{post.name}}
      </h1>
    </div>

    <div class="row">

      <div class="col index-content scrollbar" id="container">

              <div class="toc">
                  <ul>
                  {% for post in site.posts reversed %}
                  {% if post.name != null %}
                  {% if post.layout == 'chapters' or post.layout == 'indexpage' %}
                      <li class="li-chapter">
                          <a href="#{{post.section}}" title="{{post.name}}">
                              <span class="chapter">{{post.name}}</span>
                          </a>
                      </li>

                      {% else %}
                          <li class="li-post">
                              <a href="#{{post.section}}" title="{{post.name}}"><span class="chapter">{{post.name}}</span>
                              <span class="toc-page">{{post.section}}</span></a>
                          </li>
                    {% endif %}
                  {% endif %}
                  {% endfor %}
                  </ul>
              </div>
              <!-- end .tocs -->
      </div>
    </div>
</article>
